@{
    ViewData["Title"] = "Autoevaluation";
}

<h1>Autoevaluation</h1>

<div class="form-style form-style-five">
    <div class="col-lg">
        <div class="form-input mt-5">
            <label>ID</label>
            <form action="#">
                <div class="input-items active m-1">
                    <input type="text" value="208500499" readonly class="form-control" />
                    <i class="lni lni-user"></i>
                </div>
                <div class="input-items active m-1">
                    <input type="text" value="208480272" readonly class="form-control" />
                    <i class="lni lni-user"></i>
                </div>
            </form>
        </div>
        <!-- form input -->
    </div>
    <div class="col-lg">
        <div class="form-input mt-5">
            <label>Name</label>
            <form action="#">

                <div class="input-items active m-1">
                    <input type="text" value="Samuel Romero Ramírez" readonly class="form-control" />
                    <i class="lni lni-user"></i>
                </div>
                <div class="input-items active m-1">
                    <input type="text" value="Sebastían Cascante Bolaños" readonly class="form-control" />
                    <i class="lni lni-user"></i>
                </div>
            </form>
        </div>
        <!-- form input -->
    </div>
    <div class="col-lg">
        <div class="form-input mt-5">
            <form action="#">
                <label>Date</label>
                <div class="input-items active">
                    <input type="date" value="2024-04-16" readonly class="form-control" />
                    <i class="lni lni-user"></i>
                </div>
            </form>
        </div>
        <!-- form input -->
    </div>
</div>
<!-- row -->
</div>

<div class="container">
    <table class="table mx-2">
        <thead>
            <tr>
                <th>
                    Puntos a Evaluar
                </th>
                <th>
                    Puntos
                </th>
                <th>
                    Autoevaluación
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Registros Ejemplo
                </td>
                <td>
                    10 pts
                </td>
                <td>
                    10 pts
                </td>
            </tr>
            <tr>
                <td>
                    Diseño de la Arquitectura del
                    Software, estándares serilog,
                    mensaje toastr, control de
                    errores.
                </td>
                <td>
                    10 pts
                </td>
                <td>
                    10 pts
                </td>
            </tr>
            <tr>
                <td>
                    Seguridad
                </td>
                <td>
                    5 pts
                </td>
                <td>
                    5 pts
                </td>
            </tr>
            <tr>
                <td>
                    Mantenimientos
                    <br />
                    a- Cliente 5 pts
                    <br />
                    b- Activos NFT 10 pts
                    <br />
                    c- Tarjetas 5 pts
                    <br />
                    d- País 5 pts
                </td>
                <td>
                    25 pts
                </td>
                <td>
                    25 pts
                </td>
            </tr>
            <tr>
                <td>
                    Procesos
                    <br />
                    a- Venta NFT 10 pts
                    <br />
                    b- Anulación 5 pts
                    <br />
                    c- Cambio Propietario NFT 5 pts
                </td>
                <td>
                    20 pts
                </td>
                <td>
                    20 pts
                </td>
            </tr>
            <tr>
                <td>
                    Procesos
                    <br />
                    a- Venta NFT 10 pts
                    <br />
                    b- Anulación 5 pts
                    <br />
                    c- Cambio Propietario NFT 5 pts
                </td>
                <td>
                    20 pts
                </td>
                <td>
                    20 pts
                </td>
            </tr>

            <tr>
                <td>
                    Rest API
                    <br />
                    Consulta de NFT:
                    <br />
                    a- Nombre del NFT 5 pts
                    <br />
                    b- Listado de NFT 5 pts
                </td>
                <td>
                    10 pts
                </td>
                <td>
                    10 pts
                </td>
            </tr>
            <tr>
                <td>
                    Rest API
                    <br />
                    Consulta de NFT:
                    <br />
                    a- Nombre del NFT 5 pts
                    <br />
                    b- Listado de NFT 5 pts
                </td>
                <td>
                    10 pts
                </td>
                <td>
                    10 pts
                </td>
            </tr>

            <tr>
                <td>
                    Reportes
                </td>
                <td>
                    15 pts
                </td>
                <td>
                    15 pts
                </td>
            </tr>

            <tr>
                <td>
                    Defensa del Proyecto 5 pts
                </td>
                <td>
                    5 pts
                </td>
                <td>
                    5 pts
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>100 pts</th>
                <th>100 pts</th>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <th>30%</th>
                <th>30%</th>
            </tr>
        </tfoot>


    </table>
</div>
